.fav-title,
.fav-tracks {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.fav-title {
  background-color: #2f2e41;
  padding: 1.2%;
}

.fav-tracks {
  display: grid;
}

@media screen and (max-width: 870px) {
  .fav-tracks {
    display: grid;
  }
}

@media screen and (min-width: 870px) and (max-width: 1480px) {
 

}
