.main-loading {
    display: flex;
    justify-content: center;
}

.loading-anim {
    width: 64px;
    width: 64px;
    border: 8px solid #706e86;
    border-left-color: #df4763;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }    
}

.loading-txt {
    top: 10%;
}