body {
  background-color: #2f3136;
  color: aliceblue;
}

.login-main {
  display: flex;
  justify-content: center;
}

.logoimg {
  position: fixed;
  top: 20%;
  z-index: -1;
}

.title-main {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  justify-content: center;
}

.subtitle {
  font-size: 2em;
  margin-bottom: 10%;
  margin-top: -5%;
}

.loginForm {
  margin-top: 5%;
  text-align: center;
}

.userInput {
  font-size: 1em;
  font-weight: 600;
}

.txt {
  color: #ff6884;
  transition: transform 0.6s ease;
}

input[ type = 'text' ] {
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px;
}

input:hover {
  border: 1px solid #aaa;
}

button {
  appearance: none;
  border: none;
  border-radius: 7px;
  padding: 10px;
  background-color: #2739a0;
  color: white;
  font-size: 1em;
  font-weight: 600;
  width: 30%;
  transition: transform 0.5s ease;
}

button:hover {
  transform: scale(1.1);
  background-color: #df4763;
}

@media screen and (max-width: 562px) {
  .txt {
    margin-top: -5%;
    color: #ff6884;
    transition: transform 0.5s ease;
  }
}
